*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');

.P0{
    padding: 0px;
}

.nav-item{
    padding: 5px 5px;
}
.nav-item a{
    font-weight: bold;
    font-size: 14px;
    color: white;
    transition: .2s;
    font-family: 'Nunito', sans-serif;
}

.nav-link{
    color: white;
}

.nav-item a:hover{
    color: #DC965A;
}



.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 26px;
}



/* hero-part  */

.hero_area{
    background-image: url(../images/background5.jpg);
    background-size: cover;
    background-position: 0px -80px;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hero_area::before{
    position: absolute;
    content:'';
    background-color: #100f0f7d;
    width: 100%;
    height: 100%;
}

.hero_data{
    color:white;
     z-index: 1;
     text-align: center;
     padding-top: 8%;
     
}
.hero_data h2{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.hero_data h1{
    font-size: 65px;
    font-family: 'Nunito', sans-serif;
}

.hero_data a{
    background-color: #a7a4a172;
    color: white;
    padding: 6px 20px;
    border-radius: 21px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}
/* about-area  */
.about_img{
    width: 450px;
    height: 460px;
    background-color: #DC965A;
    margin-left: 14%;
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.about_us {
    background-color: #131416;
    
}

.about_section{
    display: flex;
    align-items: center;
}

.about_data{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.about_data h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 15px;
}

.about_data h5 {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 20px;
}

.about_data p{
    color: #a7a4a172;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 30px;
}

.about_data span{
    color: #DC965A;
}


.cv_button {
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #DC965A;
    font-size: 14px;
    font-weight: 700;
}

.about_data a {
    color: white;
text-decoration: none;
}

.service_title{
    text-align: center;
    padding-top: 80px;
    background-color: #1C1D24;
    position: relative;
}

.service_title h1 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.service_title::before{
    content: '';
    width: 60px;
    height: 3px;
    background-color: #DC965A;
    position: absolute;
    top: 127px;
    left: 654px;
}
    

.service_title p {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    padding: 10px 410px;
    color: #a7a4a172;

}

.service_area{
    background-color: #1C1D24;
    padding-bottom: 90px;
}

.service_data{
    background-color: #131416;
    padding:30px;
    margin-top: 40px;
    box-shadow: 10px 10px 10px #0095ffb8;
    transition: .2s;
   
}

.service_data:hover{
    box-shadow: 10px 10px 10px #14d947a8;
}

.service_data h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-bottom: 10px;

}

.service_data p {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #a7a4a172;
    padding-bottom: 20px;
}


.service_data i{
    font-size: 45px;
    color: #DC965A;
    padding-top: 30px;
    padding-bottom: 23px;
}

.bg_color{
    background-color: #1C1D24;
    padding-bottom: 60px;
}
.project_data{
    background-color: #131416;
    padding: 30px;
    transition: .3s;
    overflow: hidden;
}

.project_margin{
    margin-top: 25px;
    margin-left: 24%;
    margin-bottom:40px;
}


.project {
   max-height: 410px;
   transition: .3s;
}

.project img {
    transition: .3s;
}

.project_img{
    overflow: hidden;
}

.project:hover img{
    transform: scale(1.1);
}


.project h3{
    color: #DC965A;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 15px;
}

.project p{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.bg_hire{
    background-color: #131416;
    padding: 110px 0px;
}
.hire_data{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.hire_me{
    text-align: center;
}

.hire_me p {
    color: #DC965A;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size:42px;
    font-weight: 600;
    padding-bottom: 30px;
}

.hire_btn{
    padding: 12px 32px;
    background-color: #DC965A;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
}

.hire_btn a{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.icons{
    font-size: 20px;
}

.icons i {
    color:#ffffff;
    padding-left: 5px;
}

.bg_footer{
    background-color: #1C1D24;
}

.copyright{ 
    color: #ffffff;
    padding-top: 3px;

}

/* skill_area  */
.bg_edu{
    background-color: #131416;
}
.qualification{
    padding: 120px 0px 60px 0px;
}

.edu{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    position:relative;
    color: #ffffff;
}

.edu::before{
    content: "";
    width: 45px;
    height: 5px;
    position: absolute;
    background-color: #dc5a5a;
    left: 0px;
    bottom: -12px;
}

.education_area {
    background-color: #DC965A;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.edu_border{
    border-bottom: 1px dashed;
    margin-bottom: 20px;

}

.education_data h4{
    font-size: 11px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 6px;


}
.year{
    background-color: #131416;
    text-align: center;
    max-width: 100px;
    padding: 4px 0px;

}

.education_data h2{
    font-size: 21px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding-bottom: 2px;

}
.education_data p{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}



.experience_area {
    background-color: #1C1D24;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}


.ex_year{
    background-color: #DC965A;
    text-align: center;
    max-width: 100px;
    padding: 4px 0px;

}

.skill_data{
    padding-bottom: 24px;
}

.skill_data h3{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.skill_bar{
    width: 100%;
    height: 8px;
    position: relative;
    margin-top: 20px;
}

.skill_bar::before{
    content:"";
    width: 92%;
    height: 8px;
    background-color: #DC965A;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skill_bar::after{
    content: "92%";
    position: absolute;
    top: -22px;
    right: 21px;
    width: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}